@font-face {
    font-family: 'Exo 2';
    src: url('../fonts/exo2-100.woff2') format('woff2');
    font-weight: 100;
}

@font-face {
    font-family: 'Exo 2';
    src: url('../fonts/exo2-300.woff2') format('woff2');
    font-weight: 300;
}

@font-face {
    font-family: 'Exo 2';
    src: url('../fonts/exo2-400.woff2') format('woff2');
    font-weight: 400;
}

@font-face {
    font-family: 'Exo 2';
    src: url('../fonts/exo2-700.woff2') format('woff2');
    font-weight: 700;
}
